body{
    background-color: #333333;
    background-repeat:round ;
}
.lead{
    text-align: center;
    margin-top: 100px;
    color: aliceblue;
    
}
.para{
    margin-left: 150px;
    margin-right: 150px;
}